<%= form_for([@room, @booking]) do |f| %>

    <% if user_signed_in? %>
        <% @user = current_user %>
          <% if @user.user_type <= 2 %> 
            <p>
              <%= f.label 'user_id', 'User:' %>
              <%= select_tag(:user_id, options_for_select(User.all.map{|c| [c.name, c.id]}), :prompt => "Select a user",:required => true) %>
            </p>
          <% end %>
    <% end %>
    

    <p>
      <%= f.label 'start_time', 'Start Time: ' %>
      <%= f.datetime_select :start_time, { minute_step: 15 } %>
    </p>
    <p>
      <%= f.label 'length', 'Booking Hours (max: 2 hours): ' %>
      <%= f.number_field 'length',:value => 0, min: 0 , max: 2%>
    </p>
    <%= f.submit 'Submit' %>
    <%= link_to "Back", root_path %>
<% end %> 
