<h3> Bookings for <%= @room.name %></h3>
<table class="bookings_table">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>User Name</th>
    <th></th>
    <th></th>
  </tr>


  <% @bookings.each do |booking| %>
      <% if booking.start_time < Time.current %>
          <h2 style="color:red">Unavailable now</h2>
      <% end %>
  <tr>
    <td>
      <%= booking.start_time.strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td>
      <%= (booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %>
    </td>


    <% if user_signed_in? %>
        <% @user = current_user %>
        <% if (@user.user_type <=2 ) || @user.id == booking.user_id %>  
          <td style="color:Orange">
            <% @user = User.find(booking.user_id) %>
            <%= @user.name %>
          </td>
          <td><%= link_to "Edit", edit_room_booking_path(@room, booking) %>
          </td>
          <td><%= link_to "Delete", room_booking_path(@room, booking), data: { confirm: 'Are you sure?' }, method: :delete , style: "color: red"%>
          </td>
        <% end %>
    <% end %>


  </tr>

  <% end %>
</table>

<%= link_to "Back", root_path %>
