<p>Name:</p>
<h4><%= @user.name %></h4>
<p>Email Address:</p>
<h4><%= @user.email %></h4>
<p>Address:</p>
<h4><%= @user.address %></h4>
<p>Telephone Number:</p>
<h4><%= @user.telephone %></h4>

<%= link_to 'Back to User List', users_path %>
<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Are you sure?"} %>