<p>User Name:</p>
<h3><%= @user.name %></h3>
<p>User Address:</p>
<h3><%= @user.address %></h3>
<p>User Telephone Number:</p>
<h3><%= @user.telephone %></h3>

<%= link_to "Back", :back %>
<%= link_to "Edit", edit_user_path(@user) %>
