<h1>Search Result</h1>
<p><%= link_to "Back", new_search_path %></p>

<% if @search.search_rooms.empty? %>
   <p>No Record Found</p>
<% else %>
    <% @search.search_rooms.each do |c| %>
        <br>
        <div class="room">
          <%= link_to c.name,  room_path(c)%>
          <%= link_to "Show all bookings", room_bookings_path(c) %>
          <% if user_signed_in? %>
            <%= link_to "Add Booking", new_room_booking_path(c) %>
            <% @user = current_user %>
            <% if @user.user_type <= 2 %> 
              <%= link_to "Edit", edit_room_path(c) %>
              <%= link_to "Delete", room_path(c), data: { confirm: 'Are you sure?' }, method: :delete, style: "color: red" %>
            <% end %>
          <% end %>
        </div>
        <!--
        <div class = "div">
          <h1><%= c.name %></h1>
          <p>Size: <%= c.size %></p>
          <p>Location: <%= c.location %></p>
        </div>
        -->
  <% end %>
<% end %>


