<!DOCTYPE html>
<html>
  <head>
    <title>LibraryRoom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class = "navbar navbar-default">
      
      <div class = "container">
               
        <div class =  "navbar-header">
          <%= link_to "Library Room Booking", root_path, class: "navbar-brand" %>

        </div>

        <ul class = "nav navbar-nav">

           <% if user_signed_in? %>
           <li><%= link_to "Userlist", users_path %></li>
            <% @user = current_user %>
            <li><%= link_to "My Profile", user_path(@user) %></li>
          <% end %>
          
        </ul> 

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
       </ul>        

        

      </div>      

    </nav>

   
    <% if notice %><div class="notice"><h4><%= notice %></h4></div><% end %>
  	<% if notice %><div class="alert"><h4><%= alert %></h4></div><% end %>
    <% if user_signed_in? %>
        <% @user = current_user %>
        <p>Sign in as <%= current_user.name %></p>
    <% end %>

    <%= yield %>


   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Contact Us</h4>
        <td><strong>JunYi Liu </strong></td><td>jliu39@ncsu.edu</td><strong> · </strong>
        <td><strong>ZhongZhi Qi </strong></td><td>zqi3@ncsu.edu</td><strong> · </strong>
        <td><strong>SiYu Du </strong></td><td>sdu3@ncsu.edu</td>
      </tr>
    
  </body>
</html>
